.subtitle{
    font-family: 'Rick and Morty font';
    color: white;
    font-size: 2.5rem;
    text-align: center;
    padding: 20px;
}
.favorites_container{
    background-image: url('https://img.freepik.com/vector-gratis/fondo-abstracto-grunge-negro-amarillo_1017-26684.jpg?w=1060&t=st=1675462297~exp=1675462897~hmac=45a65ecf5d1199a303f96780cd5c7daff38c8a374c1717e90f29b723c27053d1');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    padding: 120px 0px;
}

.favorites_subcontainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    width: 60%;
    margin: 0 auto;
}

.character_item{
    background-color: var(--light-gray);
    color: white;
    font-family: sans-serif;
    border-radius: 10px;
    padding: 15px;
    margin: 0 auto;
    width: 85%;
}

.character_name{
    color: var(--font-orange);
    font-size: 1.3rem;
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
}

.char_img{
    width: 100%;
    height: 240px;
    object-fit: cover;
    position: relative;
}

.none_favorites{
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

.form_favorites{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}

.form_favorites select{
    font-size: 0.9rem;
    padding: 8px 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-weight: 900;
    border-radius: 5px;
    line-height: 1.2;
    margin: 20px;
    width: 200px;
}

.form_favorites option{
    border-radius: 10px;
    background-color: var(--dark-gray);
}

.fav_subcontainer{
    padding: 5px 0px;
}

.fav_subcontainer img{
    position: relative;
    z-index: 1000;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

@media(min-width: 800px){
    /* .favorites_subcontainer{
        width: 40%;
    } */
}

@media(min-width: 900px){
    .favorites_subcontainer{
        /* width: 60%; */
        grid-template-columns: 1fr 1fr;
        width: 70%;
    }
    .form_favorites{
        flex-direction: row;
    }
}

/* *** desktop ***/

@media(min-width: 1300px){
    .favorites_subcontainer{
        grid-template-columns: repeat(3, 1fr); 
        width: 80%; 
    }
}

@media(min-width: 1500px){
    .favorites_subcontainer{
        width: 70%;
    }
}

