
/*** filter by name***/

.character_form{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid var(--bright-light-blue);
    background-color: transparent;
    width: 400px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 0.9rem;
}

.character_filterTitle{
    color: var(--font-orange);
    font-size: 1.1rem;
    padding-bottom: 10px;
    align-self: flex-start;
    font-family: 'Luckiest Guy', cursive;
}

.character_subtitle{
    color: var(--font-gray);
    padding: 9px 0px;
}

.uncompleted_data{
    padding-top: 8px;
    color: red;
    font-size: 0.8rem;
}

/* *** add form ***/

.add_property{
    color: var(--placeholder-pink);
    margin: 10px 0px;
}

.add_file_input{
    display: none;
}

/*** created characters buttons ***/
.add_buttons_btn{
    width: 150px;
}

.btn{
    background-color: transparent;
    width: 130px;
    height: 50px;
    margin-top: 10px;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 0.7rem;
}

/* *** tablet ***/

@media(min-width: 1000px){
    .character_form{
        width: 300px;
    }
    .character_form:nth-child(2){
        margin-top: 30px;
    }
}
