/************************** globals **************************/

.nav{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    position: fixed;
    z-index: 90000;
    opacity: 0.8;
    color: white; 
}

.nav_title{
    font-family: 'Rick and Morty font';
    color: white;
    font-size: 1.8rem;
    padding-top: 10px;
    cursor: pointer;
}

.nav_links{
    text-decoration: none;
    color: white;
} 

.logo{
    width: 70px;
}

.nav_links:hover{
    color: var(--light-blue);
    cursor: pointer;
}

.nav li{
    list-style: none;
}

.profile_btn{
    background-color: var(--light-blue);
    color: black;
    padding: 5px 10px;
    border-radius: 50px;
}

.profile_btn:hover{
    background-color: var(--light-blue);
    color: black;
}

/************************** nav phone **************************/

.nav_phone{
    opacity: 1;
    color: orange;
    background-color: black;
}

.nav_title_phone{
    color: orange;
}

.nav_phone_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    border-bottom: 1px solid orange;
    position: relative;
    z-index: 9000;
}

.menu_phone{
    height: 95vh;
    display: flex;
    flex-direction: column;
}

.menu_phone_subcontainer{
    display: flex;
    flex-direction: column;
    height: 60vh;
    margin: auto 0;
    justify-content: space-around;
    align-items: center;
}

.menu_icon{
    font-size: 1.8rem;
    cursor: pointer;
}

.menu_active{
    display: flex;
}

.menu_inactive{
    display: none;
} 

.nav_phone li{
    font-size: 1.5rem;
} 

.nav_phone .profile_btn{
    padding: 12px 24px;
}

.icon_characters{
    width: 50px;
}

.profile_image{
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    padding-bottom: 8px;
}

.profile_image_div{
    height: 70px;
    position: absolute;
    top: 80px;
    display: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-right: 75px;
    padding-left: 5px;
    background-color: white;
    color: black;
    height: 70px;
}

.profile_image:hover + .profile_image_div, .profile_image_div:hover{
    display: block;
}

.nav_link_profile{
    display: inline-block;
    color: blue;
    font-weight: 900;
    width: 100%;
    font-size: 1.1rem;
}

ul svg{ /* nav link icons */
    padding-right: 3px;
}

/************************** nav desktop **************************/

.nav_desktop{
    display: none;
}

.nav_desktop li{
    font-size: 1.2rem;
}

.nav_title_desktop{
    display: none;
}

.nav_phone .profile_btn{
    background-color: var(--font-orange);
}

.nav_phone .nav_links:hover, .nav_phone .nav_logo{
    color: var(--font-orange);
}

.nav .profile_btn:hover{
    color: black;
    background-color: white;
    transition: 1s;
}


@media(min-width: 800px){
    .nav{
        width: 95%;
        grid-template-columns: 1fr 1fr;
    }
    .nav_title_desktop, .nav_desktop{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 15px;
    }
    .nav_phone{
        display: none;
    }
}

@media(min-width: 1000px){
    .nav{
        width: 82%;
    }
}