.nav{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    position: fixed;
    z-index: 90000;
    opacity: 0.8;
    color: white; 
}

.nav ul{
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}

.nav_links{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
} 

.nav_title_container{
    display: none;
}

.nav_title{
    font-family: 'Rick and Morty font';
    color: white;
    font-size: 1.8rem;
    padding-top: 10px;
    cursor: pointer;
}

.nav_links:hover{
    color: var(--font-orange);
    cursor: pointer;
}

.nav_icon{
    padding-right: 3px;
}

.nav li{
    list-style: none;
}

.nav img{
    background-color: transparent;
}

.logo{
    width: 120px;
    mix-blend-mode: multiply;
    /*mix-blend-mode: multiply;
    overflow: hidden; */
}

.active{
    font-weight: 900;
}

@media(min-width: 800px){
    .nav{
        width: 80%;
        grid-template-columns: 1fr 1fr;
    }
    .nav_title_container, .nav ul{
        display: flex;
        justify-content: space-around;
    }
}