/* Rick and morty logo font */
@font-face {
    font-family: 'Rick and Morty font';
    font-style: normal;
    font-weight: normal;
    src: local('Rick and Morty font'), url('./fonts/logo.ttf') format('woff');
}

:root{
    --dark-gray : rgb(39, 43, 51);
    --light-gray: #3c3e44;
    --light-blue: #02b1c8;
    --font-gray : rgb(158, 158, 158);
    --input-color: rgb(189, 206, 210);
    --font-orange: orange;
    --forms-green: rgb(26, 202, 26);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input{
    text-transform: capitalize;
}

.animated_btn{
min-width: 120px;
font-size: 0.7rem;
line-height: 15px 5px;
padding: 15px 10px;
font-family: sans-serif;
text-decoration: none;
color: #333;
border: none;
letter-spacing: 2px;
text-align: center;
position: relative;
transition: all .35s;
margin-top: 5px;
margin-right: 5px;
cursor: pointer;
}

.animated_btn:after{
position: absolute;
content: "";
top: 0;
left: 0;
width: 0;
height: 100%;
background-color: rgb(197, 187, 187);
transition: all .35s;
}

.animated_btn:hover{
color: var(--light-gray);
}

.animated_btn:hover:after{
width: 100%;
}

.animated_btn label{
position: relative;
z-index: 9000;
}

.btn_animated_border:focus {
  color: #5ffbf1;
}

.btn_animated_border {
  box-shadow: inset 0 0 0 3px #5ffbf1;
  color: #5ffbf1;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

.btn_animated_border::before,
.btn_animated_border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}

.btn_animated_border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.btn_animated_border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.btn_animated_border:hover {
  color: var(--font-orange); /*ff71c6*/
}

.btn_animated_border:hover::before,

.btn_animated_border:hover::after {
  border-color: var(--font-orange);
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.btn_animated_border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}

.btn_animated_border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}


.input_primary{
max-width: 300px;
background-color: rgb(197, 187, 187);
border: none;
outline: none;
padding: 12px;
width: 100%;
border-radius: 5px;
}

.input_primary::placeholder{
    color: var(--light-gray);
}

.input_invalid:focus{
    outline: 2px solid red;
    transition: 1s;
}

.input_valid{
    outline: 2px solid green;
    transition: 1s;
}

button{
    cursor: pointer;
}

/* loader */

.loader_container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-gray);
}
.loader_bottom {
  width: 300px;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader_bottom .planet {
  width: 65%;
  height: 65%;
  background-color: #546c8c;
  border-radius: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  transform-origin: center center;
  box-shadow: inset 2px -10px 0px rgba(0, 0, 0, 0.1);
  animation: planet 5s ease infinite alternate;
 /* planet ring */
 /* to cover the back of the ring */
 /* planet spots */
}
@keyframes planet {
  0% {
    transform: rotate(10deg);
 }
  100% {
    transform: rotate(-10deg);
 }
}
.loader_bottom .planet .ring {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: #bacbd9;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: 33% center;
  box-shadow: 2px -10px 0px rgba(0, 0, 0, 0.1), inset -5px -10px 0px rgba(0, 0, 0, 0.1);
  animation: ring 3s ease infinite;
 /* small ball */
 /* inner ring */
}
@keyframes ring {
  0% {
    transform: rotateX(110deg) rotateZ(0deg) translate(-50px, 5px);
 }
  100% {
    transform: rotateX(110deg) rotateZ(360deg) translate(-50px, 5px);
 }
}
.loader_bottom .planet .ring:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 30px;
  border-radius: 100%;
  background-color: #7ea1bf;
  z-index: 2;
  left: calc(0px - 5px);
  box-shadow: inset -3px 3px 0px rgba(0, 0, 0, 0.2);
}
.loader_bottom .planet .ring:after {
  content: "";
  position: absolute;
  width: 240px;
  height: 240px;
  border-radius: 100%;
  background-color: #7ea1bf;
  box-shadow: inset 2px -10px 0px rgba(0, 0, 0, 0.1);
}
.loader_bottom .planet .cover-ring {
  position: absolute;
  width: 100%;
  height: 50%;
  border-bottom-left-radius: 80%;
  border-bottom-right-radius: 80%;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  transform: translate(0px, -17px);
  background-color: #546c8c;
  z-index: 2;
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.1);
}
.loader_bottom .planet .spots {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
}
.loader_bottom .planet .spots span {
  width: 30px;
  height: 30px;
  background-color: #3c4359;
  position: absolute;
  border-radius: 100%;
  box-shadow: inset -2px 3px 0px rgba(0, 0, 0, 0.3);
  animation: dots 5s ease infinite alternate;
}
@keyframes dots {
  0% {
    box-shadow: inset -3px 3px 0px rgba(0, 0, 0, 0.3);
 }
  100% {
    box-shadow: inset 3px 3px 0px rgba(0, 0, 0, 0.3);
 }
}
.loader_bottom .planet .spots span:nth-child(1) {
  top: 20px;
  right: 50px;
}
.loader_bottom .planet .spots span:nth-child(2) {
  top: 40px;
  left: 50px;
  width: 15px;
  height: 15px;
}
.loader_bottom .planet .spots span:nth-child(3) {
  top: 80px;
  left: 20px;
  width: 25px;
  height: 25px;
}
.loader_bottom .planet .spots span:nth-child(4) {
  top: 80px;
  left: 90px;
  width: 40px;
  height: 40px;
}
.loader_bottom .planet .spots span:nth-child(5) {
  top: 160px;
  left: 70px;
  width: 15px;
  height: 15px;
}
.loader_bottom .planet .spots span:nth-child(6) {
  top: 165px;
  left: 125px;
  width: 10px;
  height: 10px;
}
.loader_bottom .planet .spots span:nth-child(7) {
  top: 90px;
  left: 150px;
  width: 15px;
  height: 15px;
}
.loader_bottom p {
  color: #bacbd9;
  font-size: 14px;
  z-index: 2;
  position: absolute;
  bottom: -20px;
  font-family: "Roboto Mono", monospace;
  animation: text 4s ease infinite;
  width: 100px;
  text-align: center;
}
@keyframes text {
  0% {
    transform: translateX(-30px);
    letter-spacing: 0px;
    color: #bacbd9;
 }
  25% {
    letter-spacing: 3px;
    color: #7ea1bf;
 }
  50% {
    transform: translateX(30px);
    letter-spacing: 0px;
    color: #bacbd9;
 }
  75% {
    letter-spacing: 3px;
    color: #7ea1bf;
 }
  100% {
    transform: translateX(-30px);
    letter-spacing: 0px;
    color: #bacbd9;
 }
}
 

/* .loader{
    display: block;
    position: relative;
    height: 12px;
    min-width: 350px;
    border: 1px solid #fff;
    border-radius: 10px;
    overflow: hidden;
  }
  .loader::after {
    content: '';
    width: 40%;
    height: 100%;
    background: var(--light-blue);
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
  }
  
  @keyframes animloader {
    0% {
      left: 0;
      transform: translateX(-100%);
    }
    100% {
      left: 100%;
      transform: translateX(0%);
    }
  }
  
@media(min-width: 800px){
    .loader{
        min-width: 450px;
      }
} */